body{
    margin: 0;
}
h2{
    background-color: blueviolet;
    margin: 0;
    padding: 20px 0;
    text-align: center;
    font-size: 35px;
    color: aliceblue;
}
.nav{
    margin: 0;
    background-color: #bb1616;

}
.nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    
}
.nav ul li{
    float: left;
    list-style: none;
}
.nav ul li a{
    
    text-decoration: none;
    color: aliceblue;
    padding: 15px 30px;
    display: block;

}
.birds{
    width: 100%;
    padding: 150px 0;
    display: flex;
    justify-content: space-around;
}
.image{
    width: 30%;
    box-shadow: 0 0 10px black;
    
    
}
.image img{
    width: 100%;
    
}
.image p{
    text-align: center;
}
@media all and (max-width:500px){

    .birds{
        flex-direction: column;
    }
    .image{
        width: 100%;
        margin-bottom: 30px;
    }
}
    